USE [master]
GO
/****** Object:  Database [Цифровая безопасность]    Script Date: 17.06.2026 18:39:13 ******/
CREATE DATABASE [Цифровая безопасность] ON  PRIMARY 
( NAME = N'Цифровая безопасность', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Цифровая безопасность.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Цифровая безопасность_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Цифровая безопасность_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Цифровая безопасность].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Цифровая безопасность]
GO
/****** Object:  Table [dbo].[children]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[children](
	[child_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[age] [tinyint] NOT NULL,
	[class] [nvarchar](20) NULL,
	[school_name] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[child_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[parent_comment_id] [int] NULL,
	[content] [nvarchar](max) NOT NULL,
	[rating] [tinyint] NULL,
	[is_moderated] [bit] NULL,
	[is_approved] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[full_description] [nvarchar](max) NULL,
	[level] [nvarchar](20) NULL,
	[category] [nvarchar](50) NOT NULL,
	[video_url] [nvarchar](255) NULL,
	[podcast_url] [nvarchar](255) NULL,
	[preview_image] [nvarchar](255) NULL,
	[duration_minutes] [int] NULL,
	[age_from] [tinyint] NULL,
	[age_to] [tinyint] NULL,
	[is_published] [bit] NULL,
	[sort_order] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidents]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidents](
	[incident_id] [int] IDENTITY(1,1) NOT NULL,
	[child_id] [int] NOT NULL,
	[threat_id] [int] NULL,
	[app_name] [nvarchar](100) NULL,
	[incident_date] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[severity] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[incident_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progress]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progress](
	[progress_id] [int] IDENTITY(1,1) NOT NULL,
	[child_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[progress_percent] [tinyint] NULL,
	[start_date] [datetime] NULL,
	[last_activity_date] [datetime] NULL,
	[completion_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[progress_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[threats]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[threats](
	[threat_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[severity] [nvarchar](20) NULL,
	[category] [nvarchar](50) NULL,
	[prevention_tips] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[threat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17.06.2026 18:39:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[children] ON 

INSERT [dbo].[children] ([child_id], [user_id], [first_name], [last_name], [age], [class], [school_name], [is_active], [created_at], [updated_at]) VALUES (1, 1, N'Миша', N'Иванов', 12, N'6А', N'МАОУ СОШ №1 г. Слободской', 1, CAST(N'2026-06-17T18:26:59.460' AS DateTime), CAST(N'2026-06-17T18:26:59.460' AS DateTime))
INSERT [dbo].[children] ([child_id], [user_id], [first_name], [last_name], [age], [class], [school_name], [is_active], [created_at], [updated_at]) VALUES (2, 1, N'Аня', N'Иванова', 14, N'8Б', N'МАОУ СОШ №1 г. Слободской', 1, CAST(N'2026-06-17T18:26:59.460' AS DateTime), CAST(N'2026-06-17T18:26:59.460' AS DateTime))
INSERT [dbo].[children] ([child_id], [user_id], [first_name], [last_name], [age], [class], [school_name], [is_active], [created_at], [updated_at]) VALUES (3, 2, N'Дима', N'Петров', 10, N'4В', N'МАОУ СОШ №2 г. Слободской', 1, CAST(N'2026-06-17T18:26:59.460' AS DateTime), CAST(N'2026-06-17T18:26:59.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[children] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([comment_id], [user_id], [course_id], [parent_comment_id], [content], [rating], [is_moderated], [is_approved], [created_at], [updated_at]) VALUES (1, 1, 1, NULL, N'Отличный урок! Ребёнок всё понял, спасибо!', 5, 1, 1, CAST(N'2026-06-17T18:26:59.470' AS DateTime), CAST(N'2026-06-17T18:26:59.470' AS DateTime))
INSERT [dbo].[comments] ([comment_id], [user_id], [course_id], [parent_comment_id], [content], [rating], [is_moderated], [is_approved], [created_at], [updated_at]) VALUES (2, 2, 2, NULL, N'Очень полезная информация, особенно про пароли.', 5, 1, 1, CAST(N'2026-06-17T18:26:59.470' AS DateTime), CAST(N'2026-06-17T18:26:59.470' AS DateTime))
INSERT [dbo].[comments] ([comment_id], [user_id], [course_id], [parent_comment_id], [content], [rating], [is_moderated], [is_approved], [created_at], [updated_at]) VALUES (3, 3, 1, NULL, N'Мой сын посмотрел и сразу поменял все пароли.', 4, 1, 1, CAST(N'2026-06-17T18:26:59.470' AS DateTime), CAST(N'2026-06-17T18:26:59.470' AS DateTime))
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([course_id], [title], [description], [full_description], [level], [category], [video_url], [podcast_url], [preview_image], [duration_minutes], [age_from], [age_to], [is_published], [sort_order], [created_at], [updated_at]) VALUES (1, N'Основы безопасности в интернете', N'Базовые правила поведения в сети для детей и подростков.', NULL, N'beginner', N'Основы безопасности', NULL, NULL, NULL, 30, 6, 18, 1, 0, CAST(N'2026-06-17T18:26:59.463' AS DateTime), CAST(N'2026-06-17T18:26:59.463' AS DateTime))
INSERT [dbo].[courses] ([course_id], [title], [description], [full_description], [level], [category], [video_url], [podcast_url], [preview_image], [duration_minutes], [age_from], [age_to], [is_published], [sort_order], [created_at], [updated_at]) VALUES (2, N'Как защитить свои личные данные', N'Что нельзя публиковать в соцсетях и как защитить приватность.', NULL, N'beginner', N'Защита данных', NULL, NULL, NULL, 25, 8, 18, 1, 0, CAST(N'2026-06-17T18:26:59.463' AS DateTime), CAST(N'2026-06-17T18:26:59.463' AS DateTime))
INSERT [dbo].[courses] ([course_id], [title], [description], [full_description], [level], [category], [video_url], [podcast_url], [preview_image], [duration_minutes], [age_from], [age_to], [is_published], [sort_order], [created_at], [updated_at]) VALUES (3, N'Надежные пароли: создание и хранение', N'Как придумать пароль, который невозможно взломать.', NULL, N'beginner', N'Защита данных', NULL, NULL, NULL, 20, 8, 18, 1, 0, CAST(N'2026-06-17T18:26:59.463' AS DateTime), CAST(N'2026-06-17T18:26:59.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[progress] ON 

INSERT [dbo].[progress] ([progress_id], [child_id], [course_id], [status], [progress_percent], [start_date], [last_activity_date], [completion_date], [created_at], [updated_at]) VALUES (1, 1, 1, N'completed', 100, CAST(N'2026-01-06T10:00:00.000' AS DateTime), CAST(N'2026-01-06T10:30:00.000' AS DateTime), CAST(N'2026-01-06T10:30:00.000' AS DateTime), CAST(N'2026-06-17T18:26:59.473' AS DateTime), CAST(N'2026-06-17T18:26:59.473' AS DateTime))
INSERT [dbo].[progress] ([progress_id], [child_id], [course_id], [status], [progress_percent], [start_date], [last_activity_date], [completion_date], [created_at], [updated_at]) VALUES (2, 1, 2, N'in_progress', 75, CAST(N'2026-02-06T09:00:00.000' AS DateTime), CAST(N'2026-02-06T09:20:00.000' AS DateTime), NULL, CAST(N'2026-06-17T18:26:59.473' AS DateTime), CAST(N'2026-06-17T18:26:59.473' AS DateTime))
INSERT [dbo].[progress] ([progress_id], [child_id], [course_id], [status], [progress_percent], [start_date], [last_activity_date], [completion_date], [created_at], [updated_at]) VALUES (3, 2, 1, N'completed', 100, CAST(N'2026-01-06T14:00:00.000' AS DateTime), CAST(N'2026-01-06T14:25:00.000' AS DateTime), CAST(N'2026-01-06T14:25:00.000' AS DateTime), CAST(N'2026-06-17T18:26:59.473' AS DateTime), CAST(N'2026-06-17T18:26:59.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[progress] OFF
GO
SET IDENTITY_INSERT [dbo].[threats] ON 

INSERT [dbo].[threats] ([threat_id], [name], [description], [severity], [category], [prevention_tips], [created_at], [updated_at]) VALUES (1, N'Фишинг', N'Мошенники отправляют письма/сообщения с просьбой перейти по ссылке и ввести пароль.', N'high', N'Мошенничество', N'Никогда не переходи по подозрительным ссылкам. Проверяй адрес отправителя.', CAST(N'2026-06-17T18:26:59.480' AS DateTime), CAST(N'2026-06-17T18:26:59.480' AS DateTime))
INSERT [dbo].[threats] ([threat_id], [name], [description], [severity], [category], [prevention_tips], [created_at], [updated_at]) VALUES (2, N'Кибербуллинг', N'Травля и оскорбления в интернете.', N'high', N'Социальные угрозы', N'Не отвечай агрессией, сделай скриншот, расскажи родителям.', CAST(N'2026-06-17T18:26:59.480' AS DateTime), CAST(N'2026-06-17T18:26:59.480' AS DateTime))
INSERT [dbo].[threats] ([threat_id], [name], [description], [severity], [category], [prevention_tips], [created_at], [updated_at]) VALUES (3, N'Вирусы', N'Вредоносные программы, которые могут украсть твои данные.', N'high', N'Вредоносное ПО', N'Установи антивирус и не скачивай файлы из непроверенных источников.', CAST(N'2026-06-17T18:26:59.480' AS DateTime), CAST(N'2026-06-17T18:26:59.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[threats] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [surname], [name], [patronymic], [email], [phone], [password_hash], [role], [is_active], [created_at], [updated_at]) VALUES (1, N'Иванов', N'Сергей', N'Александрович', N'ivanov@mail.ru', N'+79001112233', N'hash_001', N'parent', 1, CAST(N'2026-06-17T18:26:59.353' AS DateTime), CAST(N'2026-06-17T18:26:59.353' AS DateTime))
INSERT [dbo].[users] ([user_id], [surname], [name], [patronymic], [email], [phone], [password_hash], [role], [is_active], [created_at], [updated_at]) VALUES (2, N'Петрова', N'Елена', N'Михайловна', N'petrova@mail.ru', N'+79002223344', N'hash_002', N'parent', 1, CAST(N'2026-06-17T18:26:59.353' AS DateTime), CAST(N'2026-06-17T18:26:59.353' AS DateTime))
INSERT [dbo].[users] ([user_id], [surname], [name], [patronymic], [email], [phone], [password_hash], [role], [is_active], [created_at], [updated_at]) VALUES (3, N'Сидоров', N'Андрей', N'Викторович', N'sidorov@mail.ru', N'+79003334455', N'hash_003', N'parent', 1, CAST(N'2026-06-17T18:26:59.353' AS DateTime), CAST(N'2026-06-17T18:26:59.353' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ_progress_child_course]    Script Date: 17.06.2026 18:39:13 ******/
ALTER TABLE [dbo].[progress] ADD  CONSTRAINT [UQ_progress_child_course] UNIQUE NONCLUSTERED 
(
	[child_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61645812160E]    Script Date: 17.06.2026 18:39:13 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[children] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[children] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[children] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [is_moderated]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ('beginner') FOR [level]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((6)) FOR [age_from]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((18)) FOR [age_to]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((1)) FOR [is_published]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT (getdate()) FOR [incident_date]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT ('medium') FOR [severity]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT ('reported') FOR [status]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT ('not_started') FOR [status]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT ((0)) FOR [progress_percent]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[threats] ADD  DEFAULT ('medium') FOR [severity]
GO
ALTER TABLE [dbo].[threats] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[threats] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('parent') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[children]  WITH CHECK ADD  CONSTRAINT [FK_children_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[children] CHECK CONSTRAINT [FK_children_user]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([course_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_course]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_parent] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[comments] ([comment_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_parent]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_user]
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD  CONSTRAINT [FK_incidents_child] FOREIGN KEY([child_id])
REFERENCES [dbo].[children] ([child_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[incidents] CHECK CONSTRAINT [FK_incidents_child]
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD  CONSTRAINT [FK_incidents_threat] FOREIGN KEY([threat_id])
REFERENCES [dbo].[threats] ([threat_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[incidents] CHECK CONSTRAINT [FK_incidents_threat]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [FK_progress_child] FOREIGN KEY([child_id])
REFERENCES [dbo].[children] ([child_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [FK_progress_child]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [FK_progress_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([course_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [FK_progress_course]
GO
ALTER TABLE [dbo].[children]  WITH CHECK ADD  CONSTRAINT [CHK_children_age] CHECK  (([age]>=(6) AND [age]<=(18)))
GO
ALTER TABLE [dbo].[children] CHECK CONSTRAINT [CHK_children_age]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [CHK_comments_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [CHK_comments_rating]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [CHK_progress_percent] CHECK  (([progress_percent]>=(0) AND [progress_percent]<=(100)))
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [CHK_progress_percent]
GO
USE [master]
GO
