USE [master]
GO
/****** Object:  Database [Цифровая безопасность]    Script Date: 08.06.2026 9:46:36 ******/
CREATE DATABASE [Цифровая безопасность]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Цифровая безопасность', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Цифровая безопасность.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Цифровая безопасность_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Цифровая безопасность_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Цифровая безопасность].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Цифровая безопасность]
GO
/****** Object:  Table [dbo].[apps]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[apps](
	[app_id] [int] IDENTITY(1,1) NOT NULL,
	[app_name] [nvarchar](100) NOT NULL,
	[category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[app_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[children]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[children](
	[child_id] [int] IDENTITY(1,1) NOT NULL,
	[child_name] [nvarchar](100) NOT NULL,
	[age] [tinyint] NULL,
	[parent_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[child_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incidents]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incidents](
	[incident_id] [int] IDENTITY(1,1) NOT NULL,
	[child_id] [int] NULL,
	[threat_id] [int] NULL,
	[app_id] [int] NULL,
	[incident_date] [date] NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[incident_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parenting_tips]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parenting_tips](
	[tip_id] [int] IDENTITY(1,1) NOT NULL,
	[tip_text] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parents]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parents](
	[parent_id] [int] IDENTITY(1,1) NOT NULL,
	[parent_name] [nvarchar](100) NOT NULL,
	[approach_to_parenting] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rules]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rules](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[rule_text] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[threats]    Script Date: 08.06.2026 9:46:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[threats](
	[threat_id] [int] IDENTITY(1,1) NOT NULL,
	[threat_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[threat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[incidents] ADD  DEFAULT (getdate()) FOR [incident_date]
GO
ALTER TABLE [dbo].[children]  WITH CHECK ADD  CONSTRAINT [fk_parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[parents] ([parent_id])
GO
ALTER TABLE [dbo].[children] CHECK CONSTRAINT [fk_parent]
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD  CONSTRAINT [fk_app] FOREIGN KEY([app_id])
REFERENCES [dbo].[apps] ([app_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[incidents] CHECK CONSTRAINT [fk_app]
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD  CONSTRAINT [fk_child] FOREIGN KEY([child_id])
REFERENCES [dbo].[children] ([child_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[incidents] CHECK CONSTRAINT [fk_child]
GO
ALTER TABLE [dbo].[incidents]  WITH CHECK ADD  CONSTRAINT [fk_threat] FOREIGN KEY([threat_id])
REFERENCES [dbo].[threats] ([threat_id])
GO
ALTER TABLE [dbo].[incidents] CHECK CONSTRAINT [fk_threat]
GO
ALTER TABLE [dbo].[children]  WITH CHECK ADD CHECK  (([age]>=(6) AND [age]<=(18)))
GO
USE [master]
GO
